.testimonialSection {
  padding: var(--section-padding);
  background-color: var(--dark-gray);

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

// RESPONSIVE
@media screen and (max-width: 991.98px) {
  .testimonialSection .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
