.teamSection {
  padding: var(--section-padding);
  background-color: var(--white);

  .container {
    flex-direction: column;

    h3 {
      text-align: center;
      color: var(--main-black);
    }

    .sep {
      margin: 15px 0 50px;
    }
    .teamList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  }
}

// RESPONSIVE
@media screen and (max-width: 991.98px) {
  .teamSection .container .teamList {
    grid-template-columns: repeat(1, 1fr);
  }
}
